
#movingDiv {
    /* border-radius: 50%; */
    position: absolute;
    animation: moveAlongPath 15s ease infinite alternate;
    offset-distance: 0%; /* Initial position */
    offset-rotate: auto;
  }



  @keyframes moveAlongPath {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }