/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: 'Epilogue', sans-serif; /* Set Epilogue as the default font */

}

a{
    text-decoration: none;
}

/* Add this to your global CSS file (e.g., styles.css) */
:root {
    --text: #001a0d;
    --background: #f1fef7;
    --primary: #0cdf48;
    --secondary: #dd83f1;
    --accent: #9d4efd;
  }
  
  .dark {
    --text: #e5fff2;
    --background: #010e07;
    --primary: #0cdf48;
    --secondary: #dd83f1;
    --accent: #9d4efd;
  }

  :root, .dark, body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  

  