<div class="bg-background w-fit h-fit flex flex-row gap-4 p-2 rounded-full  shadow-[0_4px_4px_rgba(0,0,0,0.3),inset_0_8px_12px_-4px_rgba(0,0,0,0.15)]">
    <!-- Icon 1 -->
    <div class="bg-secondary rounded-full w-14 h-14 flex items-center justify-center shadow-[0_8px_12px_-4px_rgba(0,0,0,0.15),inset_0_4px_4px_rgba(0,0,0,0.3)]">
      <i class="fa fa-comment text-background text-3xl"></i>
    </div>
    <!-- Icon 2 -->
    <div class="bg-primary rounded-full w-14 h-14 flex items-center justify-center shadow-[0_8px_12px_-4px_rgba(0,0,0,0.15),inset_0_4px_4px_rgba(0,0,0,0.3)] ">
      <i class="fa fa-user-astronaut text-background text-3xl"></i>
    </div>
    <!-- Icon 3 -->
    <div class="bg-accent rounded-full w-14 h-14 flex items-center justify-center shadow-[0_8px_12px_-4px_rgba(0,0,0,0.15),inset_0_4px_4px_rgba(0,0,0,0.3)]">
      <i class="fa fa-code text-background text-3xl"></i>
    </div>
  </div>
  