<div class="grid place-items-center min-h-full">
  <!-- About Me Pill -->
  <div class="bg-accent w-fit h-fit flex flex-col rounded-full border-text border-2 p-4">
    <div class="text-5xl text-center h-fit w-fit">
      <span class="font-light">let's</span><span class="font-bold"><span class="relative top-[-0.2em] font-bold">.</span>connect</span>
    </div>
  </div>

  <!-- Contact Details -->
  <div class="flex flex-col gap-2 items-center h-full">
    <!-- Email with Blur Effect -->
    <a 
      href="mailto:notakshayp@gmail.com" 
      target="_blank" 
      rel="noopener noreferrer"
      class="flex items-center justify-center gap-2 sm:gap-4 mt-12 sm:mt-24 w-full p-2 sm:p-0 cursor-pointer"
    >
      <div class="relative text-center">
        <span class="relative text-3xl sm:text-5xl font-light underline decoration-primary">
          notakshayp<span class="relative top-[0.2em] font-normal text-primary">&#64;</span>gmail<span class="relative top-[-0.2em] font-bold text-primary">.</span>com
          <!-- <span class="font-normal text-primary text-2xl sm:text-3xl pl-3 relative top-[-0.15em]"><fa-icon [icon]="faEnvelope"></fa-icon></span> -->
        </span>
      </div>
    </a>

    <!-- LinkedIn with Blur Effect -->
    <a 
      href="https://linkedin.com/in/notakshayp" 
      target="_blank" 
      rel="noopener noreferrer"
      class="flex items-center justify-center gap-2 mt-4 sm:gap-4 sm:mt-16 w-full p-2 sm:p-0 cursor-pointer"
    >
      <div class="relative text-center">
        <span class="relative text-3xl sm:text-5xl font-light underline decoration-secondary">
          <!-- <span class="font-normal text-secondary text-2xl sm:text-3xl pl-3 relative top-[-0.15em]"><fa-icon [icon]="faLinkedin"></fa-icon></span> -->
          linkedin<span class="font-normal text-secondary text-3xl sm:text-6xl relative top-[0.2em]">/</span>notakshayp
        </span>
      </div>
    </a>
  </div>
</div>
